*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.body{
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.main{
  width: 600px;
  margin-left: 30rem;
  margin-top: 6rem;
  background-color: whitesmoke;
   
}

.header{
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  width: 100%;
  background-color: #03a9fc;

}
.name{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  color: white;
}
.name img{
  width: 25px;
  height: 25px;
  color: white;
  
}

.icon{
  display: flex;
}
.icon{

}
.header img{
  width: 20px;
  height: 20px;
  margin-right: 0;
  color: white;

}
.select{
  display: flex;
  padding-left: 15px;
  padding-right: 80px;
  margin-left: 0;
  margin-top: 6px;
  justify-content: space-between;
}
.select img{
  width: 30px;
  height: 30px;

}
.select button{
  width: 13rem;
  border: none;
  background-color: white;
  border-bottom: 2px solid black;
  font-weight: 600;
  cursor: pointer;
}

.search{
  display: flex;
  margin-top: 20px;
  margin-bottom: 50px;
  margin-left: 20px;
  margin-right: 20px;
  background-color: white;
  padding: 10px;
  border-radius: 8px;
  gap: 200px;

}
.search img{
  width: 25px;
  height: 25px;
}
